@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

/* Add this to your src/index.css file */
/* .dropdown-hover:hover .dropdown-content {
  animation: fadeIn 0.3s;
  pointer-events: auto;
}

.dropdown-hover .dropdown-content {
  pointer-events: none;
  transition: opacity 0.3s;
}

.dropdown-hover:hover .dropdown-content {
  pointer-events: auto;
  opacity: 1;
} */